/* stile.css */
#drawingCanvas {
    border: 1px solid black;

}

#toolbar {
    margin-bottom: 10px;
}

button {
    margin-right: 5px;
}
.button-selected {
    background-color: #4CAF50; /* Verde */
    color: white;
}
