
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Colore di sfondo leggero */
}

@media (min-width: 1024px) { /* 768px è un breakpoint comune per dispositivi più grandi */
    body {
        transform: scale(1.2);
    }
}

.header {
    background-color: #f1f1f1;
    padding: 2px;
    text-align: center;
}

.header h2 {
    margin: 0;
}

.profile-section {
    padding: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    
}
.profile-section h2 {
    text-align: center;
    margin-bottom: 2px;
    margin-top: 2px;
}

.container {
    display: flex;
}

.input-container {
    display: flex;
    width: 100%;
    max-width: 100vw;
    padding: 5px;
    box-sizing: border-box;
    justify-content: space-between; /* Assicura che ci sia spazio tra gli input box */
}


.input1, .input2 {
    flex-grow: 1;
    margin: 0.5rem; /* Usa rem invece di px */
    padding: 1rem; /* Usa rem invece di px */
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Stili per schermi più piccoli */
@media (max-width: 600px) {
    .input1, .input2 {
        width: 100%;
        margin: 5px 0; /* Modifica il margine per schermi più piccoli */
    }
}



.profile-grid {
    display: flex; /* Usa flexbox anziché grid */
    overflow-x: auto; /* Permette lo scorrimento orizzontale */
    gap: 5px; /* Mantiene la stessa distanza tra i profili */
    margin-bottom: 20px;
    align-items: center; /* Centra gli elementi verticalmente */
    height: 22vh;
}



.profile {
    flex: 0 0 auto; /* Gli elementi non si espanderanno o stringeranno */
    min-height: 60%;
    min-width: 30%;
    background-size: contain; /* L'immagine si adatta per essere contenuta interamente */
    background-repeat: no-repeat; /* Previene la ripetizione dell'immagine */
    background-position: center; /* Centra l'immagine all'interno del contenitore */
   
    /* Altri stili per il singolo profilo */
}


@media (min-width: 383px) {
    .profile {
        min-height: 60%; /* Dimensioni maggiori per tablet */
        min-width: 20%; /* Dimensioni maggiori per tablet */
        height: 30vh;
    }
}


.flex-container {
    display: flex;
    justify-content: space-between; /* Allinea gli elementi ai lati opposti del contenitore */

}




.measure-section img {
    display: block;
    margin: 1px auto;
    width: 100%; /* Adatta in base alle tue esigenze */
}

.measure-section div {
    text-align: center;
    margin: 0px 0;
}

.measure-section input {
    width: 80%;
    padding: 1px;
    border:none;    
}
.measure-section {
    display: none;
    /*display: flex;  Cambia il layout a flex per un migliore controllo */
    align-items: center; /* Centra verticalmente il contenuto */
    justify-content: center; /* Centra orizzontalmente il contenuto */
    padding: 5px; /* Riduci il padding */
    margin: auto;
    width: 50%; /* Riduci la larghezza */
    transform: scale(1.1);
    
}

.image-container {
    position: relative;
    margin: 0; /* Riduci i margini */
}

.image-container img {
    width: 100%; /* Adatta questo in base alle tue esigenze */
    height: auto;
}

.input-lato {
    position: absolute;
    margin: 0;
    line-height: normal; 
    padding: 0%;
    font-size: 75%;
    background-color: transparent;
   
    /* Stili aggiuntivi per gli input qui (dimensione, bordi, ecc.) */
}

.button-section {
    text-align: center;
    margin-top: 20px;
}

.button-section button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.input-section {

    text-align: center;
    margin-top: 20px;
}

#btnMostraCarrello {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 1000;
    padding: 1rem; /* Aumenta il padding per dispositivi touch */
    font-size: 1.5rem; /* Aumenta la dimensione del testo */
    display: none;
}

.badge {
    position: absolute;
    top: -1%; /* Ajusta queste proprietà in base alle tue esigenze */
    right: 0%;
    padding: 4.5%;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 0.8em;
}

#elementiCarrello {
    display: flex;
    flex-wrap: wrap; /* Permette agli elementi di andare a capo se non ci sta spazio */
    justify-content: space-around; /* Distribuisce lo spazio intorno agli elementi */
    gap: 20px; /* Distanza tra gli elementi */
}

.elementoCarrello {
    flex-basis: 40%; /* Ogni elemento occupa il 40% della larghezza del contenitore */
    /* Altri stili per elementoCarrello se necessario */
}
.dettagliProfilo {
    display: flex;
    flex-direction: column; /* Assicura che gli elementi siano uno sopra l'altro */
    
    /* Aggiungi altri stili come margini, padding ecc. */
}

.dettagliProfilo p {
    margin: 5px 0; /* Spaziatura tra le righe */
}
#dettagliCarrello button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
    /* Altri stili come colori, bordi, ecc. */
}

/* Aggiungi questo nel tuo file CSS */
.imgCarrello {
    width: 100%;
    height: auto;
    /* Altri stili se necessario */
}


/* Ottimizzazione degli input per dispositivi touch */
#spessore, #materiale, #colore, #tipologia {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dropdown-container {
    display: none;
    flex-direction: column;

    justify-content: center;
  
    max-width: 30%;
    margin-right: 1%
}

.dropdown {
    margin-bottom: 10px;
    width: 100%;

}

.campoMancante {
    border: 2px solid red; /* Cambia il bordo in rosso */
}


.opzioneVerniciato {
    cursor: pointer;
    border: 3px solid transparent; /* Bordo trasparente per mantenere lo spazio */
}



/* Aggiungi qui ulteriori stili specifici se necessario */

/* Aggiungere eventuali stili aggiuntivi qui */





button {
    margin-right: 5px;
}
.button-selected {
    background-color: #4CAF50; /* Verde */
    color: white;
}
#toolbar {
    display: flex; /* Imposta il layout flex */
    flex-wrap: nowrap; /* Impedisce agli elementi di andare a capo */
    justify-content: space-around; /* Distribuisce gli elementi in modo uniforme */
    align-items: center; /* Allinea gli elementi verticalmente al centro */
    width: 100%; /* Larghezza completa del contenitore */
}

#toolbar button {
    flex: 1 1 auto; /* Assegna la possibilità di crescere e restringersi, con una base automatica */
    min-width: 5px; /* Imposta una larghezza minima per ogni pulsante */
    /* Altri stili per i pulsanti se necessario */
}


/* Stili per il canvas */
#drawingCanvas {
    width: 100%; /* Larghezza al 100% del contenitore */
    /* Altezza può essere impostata qui o tramite JavaScript */
}